html,body{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	display:inline-block;
	padding: 0 20px;
}

ul.header{
	position: fixed;
	display:flex;
	top:0;
	left:0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	column-gap: 3rem;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 50px;
	background-color: black;
	list-style-type: none;
	overflow: hidden;
}

ul>li:first-child{
	width: 10%;
}

ul.header.li{
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

ul li a{
	color: white;
	text-decoration: none;
}

ul.footer{
	position: fixed;
	display:flex;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	column-gap: 3rem;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 50px;
	background-color: #0b4d14;
	list-style-type: none;
	overflow: hidden;
}

ul.footer>li:nth-child(5){
	width: 40%;
}

ul.footer li a{
	color: white;
}

div.bodyText{
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

h1 p{
	margin: 0;
	display: inline;
}

#firstText{
	background-color: #c6bfbf;
	padding: 2em 12em 1em 12em;
}

div p {
	margin: 0;
}

.row{
	display: table;
	clear: both;
	margin: 0em 12em 0 12em;
}

.column{
	float: left;
	width: 30%;
	padding: 1em 1em 1em 1em;
}

.column p {
	display: inline;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 600px){
	.column{
		width: 100%
	}
}